.topbar {
     background-color: #b0e9ff;
     padding: 9px;
     text-align: center;
}
.background {
     background-color: rgb(248, 248, 248);
     padding: 24px;
     display: flex;
     flex-direction: column;
     align-items: center;
}
@font-face {
     font-family: bfdi;
     src: url(Fonts/Shag-Lounge.otf);
}
.title {
     font-family: bfdi;
     font-size: 50px;
     margin: 0;
     color: #ec9f00;
}
.version {
     font-family: bfdi;
     font-size: 18px;
     color: gray;
     margin-left: 5px;
     vertical-align: middle;
}
.game {
     border: none;
     width: 720px;
     height: 540px;
}
.note {
     color: gray;
     font-size: 15px;
     text-align: left;
     margin: 20px;
     padding: 4px;
     font-family: bfdi;
}
.update {
	 color: gold;
     text-align: left;
	 font-size: 21px;
     margin: 20px;
     padding: 3px;
     font-family: bfdi;
}
.name {
     text-align: left;
     margin: 20px;
     padding: 16px;
     font-family: bfdi;
}
.center {
     max-width: 1000px;
     margin: 0 auto;
     padding: 20px;
     text-align: center;
}
text {
     margin-left: 14px;
     margin-right: 14px;
}
body {
     background: #579ee6;
     margin: 0;
     padding: 0;
     font-family: bfdi;
}