.topbar {
     background: linear-gradient(90deg, #1aa2e0 0%, #84ceff 100%);
     color: #0f172a;
     padding: 12px 24px;
     position: sticky;
     top: 0;
     z-index: 1000;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     display: flex;
     text-align: center; 
     justify-content: center;
     align-items: center;
}
.topbar .title {
     font-size: 2.7rem;
     -webkit-text-stroke: 1px rgb(148, 118, 42);
     font-weight: bold;
     margin: 0;
}
.topbar .version {
     font-size: 1.2rem;
     -webkit-text-stroke: 0;
     font-weight: normal;
     color: #0369a1;
}
.dsq {
     background-color: rgba(255, 255, 255, 0.905);
     width: 100%;
     max-width: 640px;
     margin: 24px;
     margin-bottom: 32px;
     padding: 20px;
     border-radius: 30px;
}
.background {
     background-color: rgba(95, 161, 236, 0.7);
     padding: 24px;
     display: flex;
     border-radius: 30px;
     flex-direction: column;
     align-items: center;
}
@font-face {
     font-family: bfdi;
     src: url(Fonts/Shag-Lounge.otf);
}
.title {
     font-family: bfdi;
     margin: 0;
     color: #eca10d;
}
.version {
     font-family: bfdi;
     margin-left: 5px;
     vertical-align: middle;
}
.game {
     position: relative;
     border: none;
     width: 100%;
     max-width: 640px;
     height: 480px;
     max-height: 480px;
     overflow: hidden;
     margin: 0px auto;
     border-radius: 12px;
}
.game iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: none;
}
@media (max-width: 600px) {
  .iframe-container {
    padding-top: 100%;
  }
}
.note {
     color: rgb(218, 218, 218);
     font-size: 15px;
     text-align: left;
     margin: 20px;
     padding: 4px;
     font-family: bfdi;
}
.update {
	 color: gold;
     text-align: left;
	 font-size: 21px;
     margin: 20px;
     padding: 3px;
     font-family: bfdi;
}
.name {
     text-align: left;
     margin: 20px;
     padding: 16px;
     font-family: bfdi;
}
.center {
     max-width: 1000px;
     margin: 0 auto;
     padding: 21px;
     text-align: center;
     animation: fadeIn 1s ease-in-out backwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
text {
     margin-left: 14px;
     margin-right: 14px;
}
body {
     background: #4b535a;
     margin: 0;
     padding: 0;
     font-family: bfdi;
}